<footer style="background-color: #2a2a2a; width: 100%; position: relative;">
  <div class="container p-4">
      <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
              <h5 class="mb-3" style="letter-spacing: 2px; color: #4CAF50; font-size: 14px;">Project description</h5>
              <p style="font-size: 12px;">
                  This is an AI text summarizer project, developed with Flask
                  in which I trained an NLP model to yeild the correct summary
              </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <h5 class="mb-3" style="letter-spacing: 2px; color: #4CAF50; font-size: 14px;">Links</h5>
              <ul class="list-unstyled mb-0">
                  <li class="mb-1">
                      <a href="https://github.com/BencivenniFilippo" style="color: #ffffff; font-size: 12px;">GitHub</a>
                  </li>
                  <li class="mb-1">
                      <a href="https://www.linkedin.com/in/filippo-bencivenni-423485333/" style="color: #ffffff; font-size: 12px;">LinkedIn</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a style="font-size: 12px;">&copy; 2025 Filippo Bencivenni. All Rights Reserved.</a>
  </div>
</footer>
